<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="game_body">
    {{> header}}
    <br><br>
    <div id='custom-jumbo' class="jumbotron container-fluid">
        <div class="row">
            <div class="col-lg-3" align="center"
                style="position: fixed; margin-left:3px; max-width: 30%; min-width: 300px;">
                <br><br>
                <h1 align="center">{{title}}</h1><br>
                <form method="POST" action="/newMatch">
                    <button class="btn btn-dark" style="display: block;" type="submit">New Game</button>
                </form>
                <br>
                <div>
                    <ol class="list-text" style="">
                        <li>Match all cards to win the game</li>
                        <li>Score based on turns remaining</li>
                        <li>Once your turns reaches 0, the game is over.</li>
                        <li><em>Good luck and have fun!</em></li>
                    </ol>
                </div>
                <h2>Turns remaining: {{matchTurnScore}}</h2>
                <h2>Matches: {{matchedCount}} out of 52</h2>
                <h2 style="color: red">{{message}}</h2>
            </div>
            <div class="col-8" style="top: 25px; margin-left: 30%;">
                {{#each card_button_array}}
                <div class="guessing-card-container" align="center" style="display: inline-block; width: 7%">

                    <form method="POST" action="/flip/{{this.button_id}}">
                        <div class="guessing-card">

                            {{{this.card}}}
                        </div>
                        {{{this.button}}}
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>